body{
  background-color:#0A0A23;
  height: 90vh;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

h1{
    margin: 3rem;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #FAF1D8;
}


.player{
    text-align: center;
    display: inline-block;
}


p{
    font-size: 2rem;
    color: #FAF1D8;
    font-family: 'Indie Flower', cursive;
}


img{
    width: 80%;
}


footer {
    margin-top: 5%;
    color: #d3c4c4ea;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}